{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block content_title %}
    About
{% endblock %}

{% block content_left %}

    <div class="clear"><br/></div>

    <div>
        <p style="text-indent: 25px;"><strong>Author:</strong> Kryvokhyzha Roman</p>
        <p style="text-indent: 25px;"><strong>Email:</strong> kriwohizha@gmail.com</p>
        <p style="text-indent: 25px;"><strong>GitHub:</strong> <a href="https://github.com/kryvokhyzha/" target="_blank">kryvokhyzha</a></p>
    </div>

{% endblock %}
