{% extends 'base.html' %}

{% block title %}
    General page
{% endblock %}

{% block content_title %}
    Інструкція користування сайтом та інформація про програму
{% endblock %}

{% block content_left %}
    <div class="clear"><br/></div>

    <p style="text-indent: 25px;">Дана програма створена для автоматизації процесу розпізнавання та реєстрації. Вона обробляє отриманий відео-потік
    (відео-файл чи відео з веб-камери) та знаходить образи людських обличь. Після чого перевіряє кожне обличчя з
    наявними в базі. В разі співпадіння встановлюється особистість людини та інформація про її присутність записується в
    Excel-файл.</p>

    <div class="clear"><br/></div>

    <p><b>Вона може бути використана для:</b></p>
    <ul>
        <li>Реєстрації студентів на парі</li><br>
        <li>Реєстрації людей на конференціях</li><br>
    </ul>
    <div class="clear"><br/></div>
<p><b>Для того щоб розпочати процес розпізнавання та реєстрації в реальному часі Вам потрібно:</b></p>
    <ol>
        <li><p>Перейти на сторінку "Розпізнавання через веб-камеру"</p></li>
        <li><p>Оберіть потрібне значення параметра "Значення точності співпадіння обличь" (за замовчуванням виставлено оптимальний параметр)</p></li>
        <li><p>Натиснути на кнопку "Розпочати розпізнавання", після чого дочекатись запуску веб-камери та старту програми</p></li>
        <li><p>Для завершення процесу розпізнавання та реєстрації натисніть клавішу "ESC" чи "Enter"</p></li>
        <li><p>Для завантаження вихідного Excel-файлу перейдіть за відповідним посиланням, що знаходиться в правій частині сайту</p></li>
        <li><p>Всі вихідні Excel-файли можна знайти, перейшовши до папки <i>..\face-recognition-flask-site\static\output\from webcam\</i></p></li>
    </ol>
<div class="clear"><br/></div>
<p><b>Для того щоб розпочати процес розпізнавання та реєстрації з відео Вам потрібно:</b></p>
    <ol>
        <li><p>Перейти на сторінку "Розпізнавання з відео-файлу"</p></li>
        <li><p>Оберіть потрібне значення параметра "Значення точності співпадіння обличь" (за замовчуванням виставлено оптимальний параметр)</p></li>
        <li><p>Оберіть потрібне значення параметра "Кількість пропущених кадрів" (за замовчуванням виставлено оптимальний параметр)</p></li>
        <li><p>Натиснути на кнопку "Оберіть відео-файл" та оберіть потрібний відео-файл</p></li>
        <li><p>Натиснути на кнопку "Розпочати розпізнавання", після чого дочекатись закінчення виконання програми</p></li>
        <li><p>Для завантаження вихідного Excel-файлу перейдіть за відповідним посиланням, що знаходиться в правій частині сайту</p></li>
        <li><p>Всі вихідні Excel-файли можна знайти, перейшовши до папки <i>..\face-recognition-flask-site\static\output\from video\</i></p></li>
    </ol>
{% endblock %}

{% block content_right %}
    <p style="margin-left: 5%">Увага! Перед початком роботи програми ознайомтесь з:
        <ul style="margin-left: 10%">
            <li><a href="#">інструкцією по встановленню ПЗ</a></li><br>
            <li><a href="">інструкцією по додаванню зображень в базу</a></li><br>
        </ul>
{% endblock %}
